@import url('main.css');

button {
    width: 200px;
    font-size: large;
    padding: 5px 20px;
    cursor: pointer;
    color: var(--color-off-white);
    background-color: var(--color-primary);
}

button:hover {
    background-color: var(--color-primary-hover);
}