:root {
  --color-primary: #014421; /* pakistan green */
  --color-primary-hover: #013A1D;
  --color-secondary: #8A9A5B; /*moss green */
  --color-secondary-hover: #7A8A50;

  --color-sage: #BCB88A;
  --color-dark-green: #013220;
  --color-hunter-green: #355E3B;

  --color-off-white: #F8F8F8;
}

body {
  background-color: var(--color-sage);
  color: var(--color-dark-green);
  text-align: center;
  padding: 10px;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form {
  width: 50%;
}

h1 {
  font-weight: bolder;
  color: white;
}

h2{
  color: white;
}

.main-container {
  display: flex;
  justify-content: space-around;
}

.split-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 934px;
  max-height: 946px;
}

.left-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 5px;
}

.right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 5px;
}

.left-container > input {
  height: 20px;
  font-size: large;
}

.pop-up {
    max-width: 600px;
    position: fixed;
    top: 40%;
    left: 48%;
    transform: translate(-50%, -50%);
    background-color: var(--color-off-white);
    border: 2px solid var(--color-dark-green);
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
    display: none;
    z-index: 1000;
}

.user-banner {
  font-weight: 600;
  display: inline;
  font-size: large;
}

.user-banner > .user-id {
  font-weight: 600;
  display: inline;
}

.dropdown {
  font-size: large;
}

.dropdown select {
  font-size: medium;
}

.user-list {
  width: 50%;
  max-height: 946px;
}

.user-list .list {
  display: flex;
  flex-flow: wrap;
  justify-content: right;
  column-gap: 30px;
  row-gap: 10px;
  max-height: 733px;
  overflow: overlay;
}

.list div {
  display: inline;
  background-color: var(--color-off-white);
  border: 1px solid var(--color-dark-green);
  border-radius: 8px;
  width: 170px;
}

.list div p {
  margin: 0;
}

.list div img {
  border-radius: 5px;
}

.video-container {
  position: relative;
  height: 450px;
  width: 330px;
  border: 2px solid gray;
  border-radius: 10px;
}

.video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.video-container canvas {
  position: absolute;
  width: inherit;
  height: inherit;
  top: -2px;
  left: -2px;
  margin: 0;
  border-radius: 10px;
  border: 2px solid gray;
  display: none;
}

.card-container {
  margin-bottom: 10px;
  padding: 10px 5px 5px 5px;
  border: #BCB88A 1px dashed;
  border-color: var(--color-sage);
}

.card-container img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 1100px) {
  form {
    width: 100%;
  }
  .main-container {
    flex-direction: column;
  }
  .split-container {
    width: 100%;
  }
  .user-list {
    width: 100%;
  }
}