<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ID Card Generator</title>
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/button.css" />
    <script src="/static/js/main.js"></script>
  </head>
  <body>
    <button class="hanging-btn" onclick="location.href='/upload'">Edit Masal</button>
    <h1>Data Pihak Ketiga</h1>
    <div class="main-container">
      <form id="userForm" action="{{ .Action }}" method="{{ .Method }}">
        <input
          type="hidden"
          id="userIdInput"
          name="userIdInput"
          value="{{ .UserID }}"
        />
        <div class="split-container">
          <div class="left-container">
            <div class="user-banner">
              <div id="userCode" class="user-id">SIK-</div>
              <div id="userId" class="user-id">{{ .UserID }}</div>
            </div>
            <div class="dropdown">
              <label for="dropdown">Pilih Status:</label>
              <select
                id="dropdown"
                name="status"
                onchange="getUserIDbyStatus()"
              >
                <option value="S">Penyetor</option>
                <option value="V">Vendor</option>
              </select>
            </div>
            <input
              id="nik"
              name="nik"
              onblur="getUserbyNik()"
              placeholder="NIK"
              required
            />
            <input name="name" placeholder="Name" required />
            <input name="phone" placeholder="Nomor HP" required />
            <input name="address" placeholder="Alamat" required />
            <input name="rating" placeholder="Penilaian" />
            <input name="notes" placeholder="Keterangan" />
            <br />
            <br />
            <br />
            <br />
            <button id="formSubmit" type="submit">Tambah Penyetor</button>
          </div>
          <div class="right-container">
            <div class="video-container">
              <video id="video"></video>
              <canvas id="canvas"></canvas>
            </div>
            <br />
            <button type="button" onclick="capture()" id="camera">
              📸 Kamera</button
            ><br />
            <input type="hidden" name="photo" id="photoData" />
          </div>
        </div>
      </form>
      <div class="user-list">
        <h2>Daftar Pihak Ketiga</h2>
        <div class="list">
          {{range .Users}}
          <div>
            <strong>SIK-{{.ID}}</strong>
            <p>{{.Name}}</p>
            <img src="https://{{.Photo}}" alt="{{ .ID }}" width="160" />
          </div>
          {{else}}
          <p>No users yet.</p>
          {{end}}
        </div>
      </div>
    </div>
    <div
      id="warning"
      style="
        display: none;
        background: #fff3cd;
        color: #856404;
        border: 1px solid #ffeeba;
        padding: 10px;
        top: 0;
      "
    >
      ⚠️ {{ .Error }}
    </div>
    {{if .LastID }}
    <div class="pop-up" id="popup">
      <button class="close-btn" onclick="closePopup()">×</button>
      <h2 id="generatedId"></h2>
      <div class="split-container">
        <div class="left-container">
          <div class="card-container">
            <img src="/static/assets/images/idcard.png" alt="idcard-back" width="200" />
            <button type="button" class="secondary-btn" id="idcard" onclick="downloadGeneratedFile('{{ .LastID }}', 'card')">UNDUH</button>
          </div>
        </div>
        <div class="right-container">
          <div class="card-container">
            <img src="/static/assets/images/contract.png" alt="user contract" width="200" />
            <button type="button" class="secondary-btn" id="contract" onclick="downloadGeneratedFile('{{ .LastID }}', 'form')">UNDUH</button>
          </div>
        </div>
      </div>
    </div>
    {{end}}
  </body>
</html>

<script>
  document.getElementById("userId").textContent =
    document.getElementById("userIdInput").value;
  
  const queryString = window.location.search; 
  const urlParams = new URLSearchParams(queryString);
  const successParam = urlParams.get('success');

  if (successParam != 'false' && successParam != null) {
    document.getElementById('generatedId').textContent = 'SIK-' + successParam;
    document.getElementById('popup').style.display = 'block';
  }
</script>
