<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ID Card Generator - Upload</title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <div class="main-container">
      <form id="uploadForm" action="/upload/upsert">
        <h1>Upload File</h1>
        <div id="uploadStatus" style="color: green; margin-top: 1rem"></div>

        <input
          type="file"
          name="userFile"
          id="userFile"
          accept=".xlsx"
          required
        />
        <button type="submit">Upload</button>
      </form>
    </div>
  </body>
</html>

<script src="/static/JS/upload.js"></script>
